/* Variables colors */
$ori_pink: #F3E9F0;
$ori_orange: #E68F2A;
$ori_purple: #8F5BFA;
/* Variables colors - END */


#formulaire{
    border: black none 1px;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: $ori_pink;
    #error_input{
        color: red;
        display: none;
    }
}
form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.input_div{
    display: flex;
    flex-direction: column;
    input{
        border: black 1px solid;
    }
    
    
}
.start_payment{
    background: linear-gradient(135deg, $ori_orange, $ori_purple);
    width: 195px;
    height: 50px;
    margin-top: 10px;
}
.panier_container{
    border: black none 1px;
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1rem;
    background-color: $ori_pink;
    table{
        background-color: white;
        border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
        width: 100%;
        td, th{
            border: 1px solid black;
            text-align: center;
        }
        .vide{
            background-color: $ori_pink;
            border: none;
        }
    }
    
}
.far{
    color: red;
}

header{
    background-color: $ori_pink;
}
ul{
    position: relative;
    li{
        display: inline;
        position: absolute;
        a{
            font-size: 25px;
            color: black;
            &:hover{
                text-decoration: underline;
                color: black;
            }
        }
    }
} 


#shop{
    left: 10rem;
}
.jumbotron{
    background-color: $ori_pink !important;
    margin-top: 32px;
    .title, .title_com{
        text-align: center !important;
    }
}