#product{
    border: 5px none blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .product_img{
        border: 5px none red;
    }
    .product_info{
        border: 5px none green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product_foot{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }
}
